@font-face {
    font-family: 'Mabry Pro';
    src: url('../static/fonts/subset-MabryPro-Bold.woff2') format('woff2'),
        url('../static/fonts/subset-MabryPro-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Mabry Pro';
    src: url('../static/fonts/subset-MabryPro-Black.woff2') format('woff2'),
        url('../static/fonts/subset-MabryPro-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Mabry Pro';
    src: url('../static/fonts/subset-MabryPro-Medium.woff2') format('woff2'),
        url('../static/fonts/subset-MabryPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Mabry Pro';
    src: url('../static/fonts/subset-MabryPro-Regular.woff2') format('woff2'),
        url('../static/fonts/subset-MabryPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



