@media all and (max-width: 1200px) and (min-width: 768px) {}

@media (min-width: 560px) {}

@media (min-width: 768px) {}

@media (min-width: 991px) {}



@media (min-width: 1360px) {
  .container {
    min-width: 1300px;
  }
}

@media (min-width: 1440px) {
  .container {
    min-width: 1400px;
  }
}

@media (max-width: 1400px) {
  .p-header {
    padding-top: 130px;
  }

}

@media (max-width: 1440px) and (min-width: 991px) {}

@media (max-width: 1340px) {}

@media (max-width: 1200px) {
  .p-header {
    padding-top: 110px;
  }
}

@media (max-width: 1140px) {}

@media all and (max-width: 1300px) and (min-width: 1200px) {}
